<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>

<div class="container">
    <p>Merhaba <span th:text="${name}"></span>,</p>
    <p>Bugün <span th:text="${restoran}"></span>'de yemek yemek ister misin?</p>
    <a th:href="'http://192.168.1.113:8080/evet?email='+${email} +'&amp;restoran='+${restoran}+'&amp;offerId='+${offerId}" method="GET">Evet</a>
    <a th:href="'http://192.168.1.113:8080/hayir?email='+${email}+'&amp;restoran='+${restoran}+'&amp;offerId='+${offerId}" method="GET">Hayır</a>
</div>
</body>
</html>