<!DOCTYPE html>

<html lang="tr" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="pages/index :: head">...</div>
</head>
<body>

<div th:replace="pages/index :: navbar">...</div>

<div class="container">
    <h2>Yeni Restoran Ekle</h2>
    <form action="#" th:action="@{/yenirestoran/create}" method="post" th:object="${restoran}">
        <div class="form-group">
            <label for="name">Restoran Adı:</label>
            <input type="text" class="form-control" id="name" placeholder="Restoran adı" name="name" > </input>
        </div>
        <button type="submit" class="btn btn-default">Gönder</button>
    </form>
</div>
</body>
<div th:replace="pages/index :: footer">...</div>
</html>